.onoffswitch {
	position: relative;
	width: 300px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #EBEBEB;
	border-radius: 6px;
}

.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,.onoffswitch-inner:after {
	float: left;
	width: 50%;
	height: 45px;
	padding: 0;
	line-height: 45px;
	font-size: 18px;
	color: white;
	font-family: sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "구매자로 로그인";
	padding-left: 22px;
	background-color: #3276B1;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "판매자로 로그인";
	padding-right: 22px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch {
	width: 49px;
	margin: 0px;
	background: #FFFFFF;
	border: 2px solid #EBEBEB;
	border-radius: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 251px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}